<!DOCTYPE html>
<html>
  <head>
    <title>Washington Square Food Trucks</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Washington Square Food Trucks</h1>
        <div class="nav-bar">
          <nav>
            <a href="{{ url_for('home', uid=uid)}}">Home</a>
          </nav>
          <nav>
            <a href="{{ url_for('register_customer')}}">New Customer</a>
          </nav>
          <nav>
            <a href="{{ url_for('register_owner')}}">New Owner</a>
          </nav>
        </div>
        
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          &copy; 2022. Shared under the GPL3 license. Source code available at
          <a
            href="https://github.com/nyu-software-engineering/flask-pymongo-web-app-example"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
