<div class="div">
  <div class="div-2">You</div><br>
  <div class="div-3">PICTURE HERE</div>
  <div class="div-4">
    <div class="builder-columns div-5">
      <div class="builder-column column">
        <div class="div-6">Your Reviews</div>
      </div>
    </div>
  </div>
  <section class="reviews">
    {% for doc in docs %}
    <div class="div-7">
      <div class="div-8">
        <div class="builder-columns div-9">
          <div class="builder-column column">
            <div class="div-10">{{doc.title}}</div>
          </div>
        </div>
      </div>
      <div class="div-11">
        <div class="builder-columns div-12">
          <div class="builder-column column">
            <div class="card-content-if-you-want-to-ad">
              Description: {{doc.desc}} <br> Rating: {{doc.rating}}
            </div>
          </div>
        </div>
      </div>
      <div class="div-13">
        <div class="builder-columns div-14">
          <div class="builder-column column-2">
            <div class="div-15">
              <form method="get" action="{{ url_for('edit_review', mongoid=mongoid) }}">
                <input type="submit" name="edit-btn" value="Edit"/>
              </form>
            </div>
          </div>
          <div class="builder-column column-3">
            <div class="div-16">
              <form method="get" action="{{ url_for('delete_review', mongoid=mongoid) }}">
                <input type="submit" name="delete-btn" value="Delete"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </section>
  <div class="div-28">
    <form method="get" action="{{ url_for('browse_trucks') }}">
      <input type="submit" name="browse-btn" value="Browse Trucks"/>
    </form>
  </div>
  <div class="div-29">
    <a href="{{ url_for('login')}}">Logout</a>
  </div>
</div>
<style>
  .div {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 68px;
    padding-right: 36px;
    padding-bottom: 68px;
    padding-left: 36px;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-2 {
    max-width: 279px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  .div-3 {
    display: flex;
    flex-direction: row;
    max-width: 326px;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background-color: rgba(31, 31, 31, 1);
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-color: rgba(234, 234, 234, 1);
    border-width: 1px;
    border-style: solid;
  }
  .div-5 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-5 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(105.08% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column {
      width: 100%;
    }
  }
  .div-6 {
    max-width: 310px;
    color: rgba(31, 31, 31, 1);
    font-size: 18px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-7 {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(222, 222, 222, 1);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-8 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 358px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-color: rgba(234, 234, 234, 1);
    border-width: 1px;
    border-style: solid;
  }
  .div-9 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-9 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .div-10 {
    max-width: 310px;
    color: rgba(31, 31, 31, 1);
    font-size: 18px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-11 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 358px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
  .div-12 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-12 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .card-content-if-you-want-to-ad {
    max-width: 310px;
    color: rgba(31, 31, 31, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-13 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 358px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
  .div-14 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-14 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(52.69% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-15 {
    display: flex;
    flex-direction: row;
    max-width: 28px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-color: rgba(31, 31, 31, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(31, 31, 31, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(52.69% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-16 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-17 {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: rgba(222, 222, 222, 1);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-18 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 358px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-color: rgba(234, 234, 234, 1);
    border-width: 1px;
    border-style: solid;
  }
  .div-19 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-19 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .div-20 {
    max-width: 310px;
    color: rgba(31, 31, 31, 1);
    font-size: 18px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-21 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 358px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
  .div-22 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-22 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .div-23 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: stretch;
    width: 358px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
  .div-24 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-24 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(52.69% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-25 {
    display: flex;
    flex-direction: row;
    max-width: 28px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-color: rgba(31, 31, 31, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(31, 31, 31, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(52.69% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-26 {
    display: flex;
    flex-direction: row;
    max-width: 46px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-27 {
    display: flex;
    flex-direction: row;
    max-width: 48px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-color: rgba(31, 31, 31, 1);
    border-width: 1px;
    border-style: solid;
    color: rgba(31, 31, 31, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-28 {
    display: flex;
    flex-direction: row;
    max-width: 107px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
  .div-29 {
    display: flex;
    flex-direction: row;
    max-width: 51px;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
  }
</style>