<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
    <title>Register</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/form.css') }}"
  />
	</head>
<body>
<script>

</script>
<form class="box" action="/login/" method="POST">
	  <h1>Login</h1>
    <input type="text" name = "username" placeholder="username" required/> </br>
    <input type="password" name = "password" placeholder="password" required/></br>
    <input type="submit" name="customer" value = "Login as customer" />
    <input type="submit" name="owner" value = "Login as truck owner" />
</form>
<form class="box" action="/register/" method="POST">

    <h3>First time? Sign Up Here!</h3>
    <a href="/register/customer" >Customer</a>
    <a href="/register/owner" >Food Truck Owner</a>
    <a href="/" class="go-back">Go back</a>
    {% if error %}
    <div class="error">
        <p>{{ error }}</p>
    </div>
    {% endif %}
</form>

</body>

</html>
