<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
    <title>Register</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/form.css') }}"
  />
	</head>
<body>
<script>

</script>
<form class="box" action="/register/owner/" method="POST">
<h1>Owner Register</h1>
    <a id="sign-in" href="/home/">Already have an account? Sign in</a>
		<input type="text" name = "username" placeholder="Username (Your email)" required/> </br>
		<input type="password" name = "password" placeholder="Password" required/></br>
		<input type="text" name = "name" placeholder="Your Full Name" required/> </br>
    <input type="text" name = "phone_number" placeholder="Phone"/></br><hr color=#555555  style="width: 80%"/>
    <input type="text" name = "ft_name" placeholder="Food Truck Name" required/> </br>
    <input type="text" name = "location" placeholder="Describe the Location" required/> </br>
    <p>Time to Open</p>
    <input type="time" name = "open_time" placeholder="Time to Open" required/>
    <p>Time to Close</p>
    <input type="time" name = "close_time" placeholder="Time to Close" required/> </br>

		<input type="submit" name="" value = Register />
		<a id="go-back" href="/login/">Go back</a>
        {% if error %}
    <div class="error">
        <p>{{ error }}</p>
    </div>
    {% endif %}
        
</form>

</body>

</html>